<section>
  <a href='/dashboard' class='justify-content-end'>&larr; back to dashboard</a>
  <h2 class='title'>Create A New Blog</h2>
  <hr>

  <form class='new-blog'>

    <div>
      <label for="blog-title">Post Title:</label>
      <input class='input' type='text' id='blog-title' name='blog-title' placeholder='insert blog title here' />
    </div>

    <div>
      <label for='blog-content'>Post Content:</label>
      <textarea name='blog-content' id='blog-content' rows='10' placeholder='insert blog content here'></textarea>
    </div>
    <button type='submit'>Create Blog</button>
  </form>
</section>

<script src='/js/create-blog.js'></script>