{{#each blogs as |blog| }}

{{>blog-info blog}}

</div>

{{else}}
{{!-- element will show if there are no blog posts --}}
<h6>No blogs have been written yet. Will yours be the first?</h6>

{{/each}}



{{!-- existing blog posts that include the post title and the date created --}}