{{#each blogs as |blog| }}

{{>blog-info blog}}

</div>

{{else}}
{{!-- element will show if there are no blog posts --}}
<h6 class='pb-5 text center font-italic'>There are currently no blogs</h6>

{{/each}}

